@model List<Models.Entity.Bed>
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<Models.Entity.Customer> listCustomer = ViewBag.listCustomer;
    List<Models.Entity.Service> listServices = ViewBag.listServices;
    List<Models.Entity.Room> listRoom = ViewBag.listRoom;
    List<Models.Entity.Bed> listBed = ViewBag.listBed;
    Models.Entity.Bed bed = ViewBag.bed;
    string customerName = null;
    string customerPhone = null;
    if (ViewBag.CustomerName != null )
    {
        customerName = ViewBag.CustomerName;
    }
    if (ViewBag.CustomerPhone != null)
    {
        customerPhone = ViewBag.CustomerPhone;
    }
}


<section class="wrapper">
    <div class="form-w3layouts">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Create Booking
                        <span class="tools pull-right">
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="form">

                            @*<div class="form">*@
                            @if (Model == null)
                            {
                                using (Html.BeginForm("Create", "BookingAdmin", FormMethod.Get, new { @class = "cmxform form-horizontal", @id = "signupForm" }))
                                {
                                    <div class="form-group">
                                        <label class="control-label col-lg-3">Arrival Day</label>
                                        <div class="col-lg-6">
                                            @*<input class="form-control " id="username" name="username" type="text">*@

                                            <input required type="date" name="date" id="date" class="form-control" value="@DateTime.Now.ToString("yyyy/MM/dd")" min="@DateTime.Now.ToString("yyyy/MM/dd")" max="@DateTime.Now.AddDays(7).ToString("yyyy/MM/dd")" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-3">Arrival Time</label>
                                        <div class="col-lg-6">
                                            <select id="time" name="time" class="form-control m-bot15">
                                                <option value="8">08:00 AM</option>
                                                <option value="9">09:00 AM</option>
                                                <option value="10">10:00 AM</option>
                                                <option value="11">11:00 AM</option>
                                                <option value="13">01:00 PM</option>
                                                <option value="14">02:00 PM</option>
                                                <option value="15">03:00 PM</option>
                                                <option value="16">04:00 PM</option>
                                                <option value="17">05:00 PM</option>
                                                <option value="18">06:00 PM</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button class="btn btn-primary" type="submit">Save</button>
                                            <form action="/Admin/BookingAdmin/Index">
                                                <input class="btn btn-default" type="button" onclick="window.location.href = '/Admin/BookingAdmin/Index';" value="Cancel" />
                                            </form>
                                        </div>
                                    </div>
                                }

                            }
                            @*<form  method="get" action="" novalidate="novalidate">*@
                            @using (Html.BeginForm("Create", "BookingAdmin", FormMethod.Post, new { @class = "cmxform form-horizontal", @id = "signupForm" }))
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                if (Model != null)
                                {
                                    <div class="form-group">
                                        <label class="control-label col-lg-3">Arrival Day</label>
                                        <div class="col-lg-6">
                                            @{
                                                DateTime bookingDate = ViewBag.bookingDate;
                                            }
                                            @*<input class="form-control " id="username" name="username" type="text">*@
                                            <input required type="datetime-local" name="ArrivalTime" id="ArrivalTime" class="form-control" value="@bookingDate.ToString("s")" readonly />
                                        </div>
                                    </div>


                                    <div class="form-group ">
                                        <label class="control-label col-lg-3">Service</label>
                                        <div class="col-lg-6">
                                            <select id="IdServices" name="IdServices" class="form-control m-bot15">
                                                @foreach (var services in listServices)
                                                {
                                                    <option value="@services.id">@services.name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label for="confirm_password" class="control-label col-lg-3">Customer Name</label>
                                        <div class="col-lg-6">
                                            <input value="@(customerName == null? "": customerName)" required class="form-control " id="customerName" name="customerName" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label for="confirm_password" class="control-label col-lg-3">Customer Phone</label>
                                        <div class="col-lg-6">
                                            <input value="@(customerPhone == null? "": customerPhone)" pattern="(09|08|03|04|05|07|01)+([0-9]{8})\b" required class="form-control " id="customerPhone" name="customerPhone" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-3">Room - Bed</label>
                                        <div class="col-lg-6">
                                            <select id="IdBed" name="IdBed" class="form-control m-bot15">
                                                @if (bed != null)
                                                {
                                                    foreach (var room in listRoom)
                                                    {
                                                        if (room.Id == bed.IdRoom)
                                                        {
                                                            <option value="@bed.Id">@room.Name - @bed.Name </option>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    foreach (var itemBed in Model)
                                                    {
                                                        foreach (var room in listRoom)
                                                        {
                                                            if (room.Id == itemBed.IdRoom)
                                                            {
                                                                <option value="@itemBed.Id">@room.Name - @itemBed.Name </option>
                                                            }
                                                        }

                                                    }
                                                }

                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label class="control-label col-lg-3">Description</label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control " id="Message" name="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button class="btn btn-primary" type="submit">Save</button>
                                            <form action="/Admin/BookingAdmin/Index">
                                                <input class="btn btn-default" type="button" onclick="window.location.href = '/Admin/BookingAdmin/Index';" value="Cancel" />
                                            </form>
                                        </div>
                                    </div>
                                }







                            }

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

