@model PagedList.IPagedList<Models.Entity.Booking>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<Models.Entity.Customer> listCustomer = ViewBag.listCustomer;
    List<Models.Entity.Service> listServices = ViewBag.listServices;
    List<Models.Entity.Room> listRoom = ViewBag.listRoom;
    List<Models.Entity.Bed> listBed = ViewBag.listBed;
}


<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                List Booking
            </div>
            <div class="row w3-res-tb">
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Customer</th>
                            <th>Services</th>
                            <th>Bed</th>
                            <th>Arrival Time</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr id="row_@item.Id">
                                        <td>@item.Id</td>
                                        <td>
                                            @{
                                                foreach (var customer in listCustomer)
                                                {
                                                    if (customer.id == item.IdCustomer)
                                                    {
                                                        <p>
                                                            Name: @customer.Name <br />
                                                            Phone: @customer.phone
                                                        </p>
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                foreach (var Services in listServices)
                                                {
                                                    if (Services.id == item.IdServices)
                                                    {
                                                        <p>
                                                            Name: @Services.name <br />
                                                            Serving Time: @Services.ServingTime Minute
                                                        </p>
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                foreach (var bed in listBed)
                                                {
                                                    if (bed.Id == item.IdBed)
                                                    {
                                                        foreach (var room in listRoom)
                                                        {
                                                            if (room.Id == bed.IdRoom)
                                                            {
                                                                @: @room.Name - @bed.Name
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            <p>
                                                @item.ArrivalTime.ToShortTimeString()<br />
                                                @item.ArrivalTime.ToShortDateString()
                                            </p>
                                        </td>
                                        <td>
                                            <a href="/Admin/BookingAdmin/Edit/@item.Id">Edit</a>
                                            /
                                            @Ajax.ActionLink("Delete", "Delete", new {@id = item.Id } ,new AjaxOptions
                                       {
                                           Confirm = "Do you want delete this?",
                                           OnComplete = "$('#row_" + @item.Id + "').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Create", "BookingAdmin")'">
            Create New
        </button>
    </div>
</section>

