@model List<Models.Entity.Booking>
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<Models.Entity.Bed> listBed = ViewBag.listBed;
    List<Models.Entity.Room> listRoom = ViewBag.listRoom;
    List<Models.Entity.Customer> listCustomer = ViewBag.listCustomer;
    List<Models.Entity.Service> listServices = ViewBag.listServices;
    DateTime scheduleDate = ViewBag.date;
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Schedule
            </div>
            <div class="row w3-res-tb">
            </div>
            <a style="text-align:left"></a>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    
                    <tr><td colspan="12" align="center">@Html.ActionLink("Prev", "Schedule", new { date = scheduleDate.AddDays(-1) }, new { @style = "margin-right:20px" }) @scheduleDate.Date.ToShortDateString() @Html.ActionLink("Next", "Schedule", new { date = scheduleDate.AddDays(1) }, new { @style = "margin-left:20px" })</tr>
                    <tr>
                        <td align="center">Room </td>
                        <td>Bed  </td>
                        <td>8:00-9:00 </td>
                        <td>9:00-10:00 </td>
                        <td>10:00-11:00 </td>
                        <td>11:00-12:00 </td>
                        <td>1:00-2:00 </td>
                        <td>2:00-3:00 </td>
                        <td>3:00-4:00 </td>
                        <td>4:00-5:00 </td>
                        <td>5:00-6:00 </td>
                        <td>6:00-7:00 </td>
                    </tr>
                    @foreach (var bed in listBed)
                    {
                    <tr style="height:100px">
                        <td>
                            @{
                                foreach (var room in listRoom)
                                {
                                    if (bed.IdRoom == room.Id)
                                    {
                                        @: @room.Name
                                    }
                                }
                            }
                        </td>
                        <td>@bed.Name</td>
                        <td>
                            @{
                                bool time8 = false;
                                foreach (var booking in Model)
                                {
                                    if (booking.IdBed == bed.Id)
                                    {
                                        if (booking.ArrivalTime.TimeOfDay.Hours >= 8 && booking.ArrivalTime.TimeOfDay.Hours < 9)
                                        {
                                            time8 = true;
                                            foreach (var customer in listCustomer)
                                            {
                                                if (customer.id == booking.IdCustomer)
                                                {
                                                    @: @customer.Name <br />
                                                    @: @customer.phone <br />
                                                }
                                            }
                                            foreach (var services in listServices)
                                            {
                                                if (services.id == booking.IdServices)
                                                {
                                                    @: @services.name
                                                }
                                            }
                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id&date=@scheduleDate.ToString("MM/dd/yyyy")&time=8">EditInfo/</a>

                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id">EditTime/</a>
                                            <a href="/Admin/BookingAdmin/DeleteInSchedule/@booking.Id">Delete</a>

                                        }
                                    }
                                }
                                if (time8 == false)
                                {
                                    <a href="/Admin/BookingAdmin/Create?date=@scheduleDate.ToString("MM/dd/yyyy")&time=8&idBed=@bed.Id">Booking</a>
                                }
                            }
                        </td>
                        <td>
                            @{
                                bool time9 = false;
                                foreach (var booking in Model)
                                {
                                    if (booking.IdBed == bed.Id)
                                    {

                                        if (booking.ArrivalTime.TimeOfDay.Hours >= 9 && booking.ArrivalTime.TimeOfDay.Hours < 10)
                                        {
                                            time9 = true;
                                            foreach (var customer in listCustomer)
                                            {
                                                if (customer.id == booking.IdCustomer)
                                                {

                                                    @: @customer.Name <br />
                                                    @: @customer.phone <br />
                                                }
                                            }
                                            foreach (var services in listServices)
                                            {
                                                if (services.id == booking.IdServices)
                                                {
                                                    @: @services.name
                                                }
                                            }
                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id&date=@scheduleDate.ToString("MM/dd/yyyy")&time=9">EditInfo/</a>

                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id">EditTime/</a>
                                            <a href="/Admin/BookingAdmin/DeleteInSchedule/@booking.Id">Delete</a>
                                        }


                                    }

                                }
                                if (time9 == false)
                                {
                                    <a href="/Admin/BookingAdmin/Create?date=@scheduleDate.ToString("MM/dd/yyyy")&time=9&idBed=@bed.Id">Booking</a>
                                }
                            }
                        </td>
                        <td>
                            @{
                                bool time10 = false;
                                foreach (var booking in Model)
                                {
                                    if (booking.IdBed == bed.Id)
                                    {

                                        if (booking.ArrivalTime.TimeOfDay.Hours >= 10 && booking.ArrivalTime.TimeOfDay.Hours < 11)
                                        {
                                            time10 = true;
                                            foreach (var customer in listCustomer)
                                            {
                                                if (customer.id == booking.IdCustomer)
                                                {

                                                    @: @customer.Name <br />
                                                    @: @customer.phone <br />
                                                }
                                            }
                                            foreach (var services in listServices)
                                            {
                                                if (services.id == booking.IdServices)
                                                {
                                                    @: @services.name
                                                }
                                            }
                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id&date=@scheduleDate.ToString("MM/dd/yyyy")&time=10">EditInfo/</a>

                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id">EditTime/</a>
                                            <a href="/Admin/BookingAdmin/DeleteInSchedule/@booking.Id">Delete</a>
                                        }
                                    }
                                }
                                if (time10 == false)
                                {
                                    <a href="/Admin/BookingAdmin/Create?date=@scheduleDate.ToString("MM/dd/yyyy")&time=10&idBed=@bed.Id">Booking</a>
                                }
                            }
                        </td>
                        <td>
                            @{
                                bool time11 = false;
                                foreach (var booking in Model)
                                {
                                    if (booking.IdBed == bed.Id)
                                    {

                                        if (booking.ArrivalTime.TimeOfDay.Hours >= 11 && booking.ArrivalTime.TimeOfDay.Hours < 12)
                                        {
                                            time11 = true;
                                            foreach (var customer in listCustomer)
                                            {
                                                if (customer.id == booking.IdCustomer)
                                                {
                                                    @: @customer.Name <br />
                                                    @: @customer.phone <br />
                                                }
                                            }
                                            foreach (var services in listServices)
                                            {
                                                if (services.id == booking.IdServices)
                                                {
                                                    @: @services.name
                                                }
                                            }
                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id&date=@scheduleDate.ToString("MM/dd/yyyy")&time=11">EditInfo/</a>

                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id">EditTime/</a>
                                            <a href="/Admin/BookingAdmin/DeleteInSchedule/@booking.Id">Delete</a>

                                        }
                                    }
                                }
                                if (time11 == false)
                                {
                                    <a href="/Admin/BookingAdmin/Create?date=@scheduleDate.ToString("MM/dd/yyyy")&time=11&idBed=@bed.Id">Booking</a>
                                }
                            }
                        </td>
                        <td>
                            @{
                                bool time13 = false;
                                foreach (var booking in Model)
                                {
                                    if (booking.IdBed == bed.Id)
                                    {

                                        if (booking.ArrivalTime.TimeOfDay.Hours >= 13 && booking.ArrivalTime.TimeOfDay.Hours < 14)
                                        {
                                            time13 = true;
                                            foreach (var customer in listCustomer)
                                            {
                                                if (customer.id == booking.IdCustomer)
                                                {
                                                    @: @customer.Name <br />
                                                    @: @customer.phone <br />
                                                }

                                            }

                                            foreach (var services in listServices)
                                            {
                                                if (services.id == booking.IdServices)
                                                {
                                                    @: @services.name
                                                }
                                            }
                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id&date=@scheduleDate.ToString("MM/dd/yyyy")&time=13">EditInfo/</a>

                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id">EditTime/</a>
                                            <a href="/Admin/BookingAdmin/DeleteInSchedule/@booking.Id">Delete</a>

                                        }
                                    }
                                }
                                if (time13 == false)
                                {
                                    <a href="/Admin/BookingAdmin/Create?date=@scheduleDate.ToString("MM/dd/yyyy")&time=13&idBed=@bed.Id">Booking</a>
                                }
                            }
                        </td>
                        <td>
                            @{
                                bool time14 = false;
                                foreach (var booking in Model)
                                {
                                    if (booking.IdBed == bed.Id)
                                    {

                                        if (booking.ArrivalTime.TimeOfDay.Hours >= 14 && booking.ArrivalTime.TimeOfDay.Hours < 15)
                                        {
                                            time14 = true;
                                            foreach (var customer in listCustomer)
                                            {
                                                if (customer.id == booking.IdCustomer)
                                                {
                                                    @: @customer.Name <br />
                                                    @: @customer.phone <br />
                                                }
                                            }
                                            foreach (var services in listServices)
                                            {
                                                if (services.id == booking.IdServices)
                                                {
                                                    @: @services.name
                                                }
                                            }
                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id&date=@scheduleDate.ToString("MM/dd/yyyy")&time=14">EditInfo/</a>

                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id">EditTime/</a>
                                            <a href="/Admin/BookingAdmin/DeleteInSchedule/@booking.Id">Delete</a>

                                        }
                                    }
                                }
                                if (time14 == false)
                                {
                                    <a href="/Admin/BookingAdmin/Create?date=@scheduleDate.ToString("MM/dd/yyyy")&time=8&idBed=@bed.Id">Booking</a>
                                }
                            }
                        </td>
                        <td>
                            @{
                                bool time15 = false;
                                foreach (var booking in Model)
                                {
                                    if (booking.IdBed == bed.Id)
                                    {

                                        if (booking.ArrivalTime.TimeOfDay.Hours >= 15 && booking.ArrivalTime.TimeOfDay.Hours < 16)
                                        {
                                            time15 = true;
                                            foreach (var customer in listCustomer)
                                            {
                                                if (customer.id == booking.IdCustomer)
                                                {
                                                    @: @customer.Name <br />
                                                    @: @customer.phone <br />
                                                }
                                            }
                                            foreach (var services in listServices)
                                            {
                                                if (services.id == booking.IdServices)
                                                {
                                                    @: @services.name
                                                }
                                            }
                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id&date=@scheduleDate.ToString("MM/dd/yyyy")&time=15">EditInfo/</a>

                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id">EditTime/</a>
                                            <a href="/Admin/BookingAdmin/DeleteInSchedule/@booking.Id">Delete</a>

                                        }
                                    }
                                }
                                if (time15 == false)
                                {
                                    <a href="/Admin/BookingAdmin/Create?date=@scheduleDate.ToString("MM/dd/yyyy")&time=15&idBed=@bed.Id">Booking</a>
                                }
                            }
                        </td>
                        <td>
                            @{
                                bool time16 = false;
                                foreach (var booking in Model)
                                {
                                    if (booking.IdBed == bed.Id)
                                    {

                                        if (booking.ArrivalTime.TimeOfDay.Hours >= 16 && booking.ArrivalTime.TimeOfDay.Hours < 17)
                                        {
                                            time16 = true;
                                            foreach (var customer in listCustomer)
                                            {
                                                if (customer.id == booking.IdCustomer)
                                                {
                                                    @: @customer.Name <br />
                                                    @: @customer.phone <br />
                                                }
                                            }
                                            foreach (var services in listServices)
                                            {
                                                if (services.id == booking.IdServices)
                                                {
                                                    @: @services.name
                                                }
                                            }
                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id&date=@scheduleDate.ToString("MM/dd/yyyy")&time=16">EditInfo/</a>

                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id">EditTime/</a>
                                            <a href="/Admin/BookingAdmin/DeleteInSchedule/@booking.Id">Delete</a>

                                        }
                                    }
                                }
                                if (time16 == false)
                                {
                                    <a href="/Admin/BookingAdmin/Create?date=@scheduleDate.ToString("MM/dd/yyyy")&time=16&idBed=@bed.Id">Booking</a>
                                }
                            }
                        </td>
                        <td>
                            @{
                                bool time17 = false;
                                foreach (var booking in Model)
                                {
                                    if (booking.IdBed == bed.Id)
                                    {

                                        if (booking.ArrivalTime.TimeOfDay.Hours >= 17 && booking.ArrivalTime.TimeOfDay.Hours < 18)
                                        {
                                            time17 = true;
                                            foreach (var customer in listCustomer)
                                            {
                                                if (customer.id == booking.IdCustomer)
                                                {
                                                    @: @customer.Name <br />
                                                    @: @customer.phone <br />
                                                }
                                            }
                                            foreach (var services in listServices)
                                            {
                                                if (services.id == booking.IdServices)
                                                {
                                                    @: @services.name
                                                }
                                            }
                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id&date=@scheduleDate.ToString("MM/dd/yyyy")&time=17">EditInfo/</a>

                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id">EditTime/</a>
                                            <a href="/Admin/BookingAdmin/DeleteInSchedule/@booking.Id">Delete</a>

                                        }
                                    }
                                }
                                if (time17 == false)
                                {
                                    <a href="/Admin/BookingAdmin/Create?date=@scheduleDate.ToString("MM/dd/yyyy")&time=17&idBed=@bed.Id">Booking</a>
                                }
                            }
                        </td>
                        <td>
                            @{
                                bool time18 = false;
                                foreach (var booking in Model)
                                {
                                    if (booking.IdBed == bed.Id)
                                    {

                                        if (booking.ArrivalTime.TimeOfDay.Hours >= 18 && booking.ArrivalTime.TimeOfDay.Hours < 19)
                                        {
                                            time18 = true;
                                            foreach (var customer in listCustomer)
                                            {
                                                if (customer.id == booking.IdCustomer)
                                                {
                                                    @: @customer.Name <br />
                                                    @: @customer.phone <br />
                                                }
                                            }
                                            foreach (var services in listServices)
                                            {
                                                if (services.id == booking.IdServices)
                                                {
                                                    @: @services.name
                                                }
                                            }
                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id&date=@scheduleDate.ToString("MM/dd/yyyy")&time=18">EditInfo/</a>

                                            <a href="/Admin/BookingAdmin/Edit?id=@booking.Id">EditTime/</a>
                                            <a href="/Admin/BookingAdmin/DeleteInSchedule/@booking.Id">Delete</a>

                                        }
                                    }
                                }
                                if (time18 == false)
                                {
                                    <a href="/Admin/BookingAdmin/Create?date=@scheduleDate.ToString("MM/dd/yyyy")&time=18&idBed=@bed.Id">Booking</a>
                                }
                            }
                        </td>
                    </tr>
                    }


                </table>
            </div>
        </div>
    </div>
</section>




