@model PagedList.IPagedList<Models.Entity.Contact>
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section jsFooter{
    <script src="~/Asset/Admin/Controller/ContactController.js"></script>
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                List Contact
            </div>
            <div class="row w3-res-tb">
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Content</th>
                            <th>Status</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr id="row_@item.id">
                                        <td>@item.id</td>
                                        <td><p>@Html.Raw(item.content)</p></td>
                                        <td><a href="#" class="btn-active" data-id="@item.id">@(item.status == true ? "Kích hoạt" : "Khóa")</a></td>
                                        <td>
                                            <a href="/Admin/ContactAdmin/Edit/@item.id">Sửa</a>
                                            /
                                            @Ajax.ActionLink("Xóa", "Delete", new {@id = item.id} ,new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xoá bản ghi này?",
                                           OnComplete = "$('#row_" + @item.id + "').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Create", "ContactAdmin")'">
            Create New
        </button>
    </div>
</section>

