    @{
        Layout = null;
        var listMenu = ViewBag.ListMenu;
        List<Models.Entity.Slide> listSlide = ViewBag.SlideList;
        List<Models.Entity.Service> servicesList = ViewBag.servicesList;
        List<Models.Entity.Bed> bedsList = ViewBag.bedsList;
        List<Models.Entity.Room> roomsList = ViewBag.roomsList;
        List<Models.Entity.FooterCategory> footerCategories = ViewBag.FooterCategories;
        List<Models.Entity.Footer> footers = ViewBag.Footers;
        List<Models.Entity.About> abouts = ViewBag.About;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Asset/Client/images/icons/favicon-01.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/fonts/font-awesome-4/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/fonts/iconic-font/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/fonts/simple-line-icons/css/simple-line-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/fonts/linearicons/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/libs/bootstrap/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/libs/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/libs/magnific-popup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/libs/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/libs/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/libs/animsition/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/libs/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/libs/parallax100/parallax100.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/Client/css/style.css">
    <!--===============================================================================================-->

</head>
<body class="animsition">
    <!-- Header -->
    <header class="hun-header style-overlay layout-1">
        <div class="container">
            <div class="wrapper-header">
                <div class="group-feature left-side">
                    <div class="hun-element-dropdown-menu layout-1">
                        English

                        <ul class="sub-menu">
                            <li>
                                <a href="#">
                                    English
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="content-header">
                    <div class="logo-header">
                        <a href="/" class="main-logo">
                            <img src="/Asset/Client/images/icons/logo-01.png" alt="IMG">
                        </a>

                        <a href="/" class="mobile-logo">
                            <img src="/Asset/Client/images/icons/logo-01.png" alt="IMG">
                        </a>

                        <a href="/" class="sticky-logo">
                            <img src="/Asset/Client/images/icons/logo-01.png" alt="IMG">
                        </a>

                        <a href="/" class="retina-logo">
                            <img src="/Asset/Client/images/icons/logo-01.png" alt="IMG">
                        </a>
                    </div>

                    @{Html.RenderAction("MainMenu", "Home");}
                </div>

                <div class="group-feature right-side">
                    <div class="hun-element-search layout-1">
                        <span class="search-open">
                            <i class="zmdi zmdi-search"></i>
                        </span>

                        <div class="search-form">
                            <span class="search-close"></span>

                            <form>
                                <input type="text" class="search-field" />
                                <span class="search-notice"> Hit enter to search or ESC to close</span>
                            </form>

                            <ul class="list-result"></ul>
                        </div>
                    </div>

                    <div class="hun-menu-mobile">
                        <a href="#" class="btn-toggle-menu"></a>

                        <nav class="mobile-navigation">
                            <div class="logo-menu-mobile text-center">
                                <a href="#">
                                    <img src="/Asset/Client/images/icons/logo-footer-01.png" alt="IMG">
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end Header -->
    <!-- slider home-1 -->
    <div class="sec--main-slider--home-1">
        <div class="hun-element-main-slider layout-1">
            <div class="main-slider js-call-slick" data-animate="true">
                <div class="slide-slick" data-slick='{"fade": true, "speed": 900, "dots": true, "arrows": false, "autoplay": true, "autoplaySpeed": 4500, "infinite": true, "slidesToShow": 1, "slidesToScroll": 1}'>
                    @foreach (var slide in listSlide)
                    {
                        <div class="item-slick full-height-with-header" style="background-image: url('@slide.image');">
                            <div class="content-slide">
                                <div class="subtitle-slide" data-appear="slideInDown" data-delay="800">
                                    @slide.subtitle
                                </div>

                                <h2 class="title-slide" data-appear="slideInUp" data-delay="0">
                                    @slide.title
                                </h2>

                                <div class="buttons-slide" data-appear="zoomIn" data-delay="1600">
                                    <a href="@slide.link" class="hun-button size-normal style-border-light shape-round">
                                        @slide.TextButton
                                    </a>
                                </div>
                            </div>
                        </div>
                    }



                </div>

                <div class="dots-slick"></div>
            </div>

            <div class="social-slider">
                @foreach (var footer in footers)
                {
                    foreach (var category in footerCategories)
                    {
                        if (category.name == "Social")
                        {
                            if (category.id == footer.typeId)
                            {
                                <a href="@footer.link" class="item-social">
                                    <i class="@footer.Icon"></i>
                                </a>
                            }
                        }
                    }
                }

            </div>
        </div>
    </div>
    <!-- end slider home-1 -->
    <!-- our-story home-2 -->
    @foreach (var item in abouts)
    {
        if (item.name.Contains("Our Story"))
        {
        <div class="sec--our-story--home-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pb-5 pb-md-0 pr-md-4 pr-lg-5">
                        <div class="hun-element-image layout-1">
                            <img src="@item.image" alt="IMG">
                        </div>
                    </div>

                    <div class="col-md-6 pt-4 pt-md-0 align-self-center pl-md-4 pl-lg-5">
                        <div class="hun-element-our-story layout-2">
                            <div class="heading-element">
                                <h3 class="title-element">
                                    @item.name
                                </h3>

                                <img class="line-heading" src="~/Asset/Client/images/icons/wave-line-02.png" alt="IMG">
                            </div>

                            <div class="content-element">
                                <strong class="strong-content">@item.metaTitle</strong>

                                @item.description
                            </div>

                            <div class="info-element">
                                <div class="sign-element">
                                    <img src="~/Asset/Client/images/icons/sign-01.png" alt="IMG">
                                </div>

                                <div class="author-element">
                                    <span class="name-author">Brenda Rose</span> / Founder
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    }

    <!-- end our-story home-2 -->
    <!-- feature home-2 -->
    <div class="sec--feature--home-2">
        <div class="container">
            <div class="row justify-content-md-end">
                <div class="col-md-6 pb-5 pb-md-0 pl-md-4 pl-lg-5 order-md-2">
                    <div class="hun-element-image">
                        <img src="~/Asset/Client/images/single-image-07.jpg" alt="IMG">
                    </div>
                </div>

                <div class="col-sm-11 col-md-6 col-lg-5 pr-md-4 pr-lg-5 order-md-1 align-self-center">
                    <div class="hun-element-feature layout-1 align-right mb-5">
                        <a href="#" class="icon-element">
                            <img src="~/Asset/Client/images/icons/feature-01.png" alt="IMG">
                        </a>

                        <div class="text-element">
                            <h4 class="title-element">
                                <a href="#">
                                    Empathy
                                </a>
                            </h4>

                            <div class="description-element">
                                We put ourselves in the position of the blind to understand.
                            </div>
                        </div>
                    </div>

                    <div class="hun-element-feature layout-1 align-right mb-5">
                        <a href="#" class="icon-element">
                            <img src="~/Asset/Client/images/icons/feature-02.png" alt="IMG">
                        </a>

                        <div class="text-element">
                            <h4 class="title-element">
                                <a href="#">
                                    Responsibility
                                </a>
                            </h4>

                            <div class="description-element">
                                We nurture the power of team perfor-mance but ensure individual.
                            </div>
                        </div>
                    </div>

                    <div class="hun-element-feature layout-1 align-right mb-5">
                        <a href="#" class="icon-element">
                            <img src="~/Asset/Client/images/icons/feature-03.png" alt="IMG">
                        </a>

                        <div class="text-element">
                            <h4 class="title-element">
                                <a href="#">
                                    Respect
                                </a>
                            </h4>

                            <div class="description-element">
                                We value diversity and treat others as we expect to be treated.
                            </div>
                        </div>
                    </div>

                    <div class="buttons-section text-md-right">
                        <a href="about.html" class="hun-button size-normal style-fill-color shape-round">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end feature home-2 -->
    <!-- book-service home-1 -->
    <div class="sec--book-service--home-1 parallax100" style="background-image: url('/Asset/Client/images/bg-03.jpg');">
        <div class="container">
            <div class="row no-gutters justify-content-end">
                <div class="col-lg-6">

                    @using (Html.BeginForm("CreateBooking", "Booking", FormMethod.Post, new { @class = "book-service-form-01 no-border" }))
                    {
                        <div class="heading-form">
                            <h3 class="title-form">
                                Book services
                            </h3>

                            <img class="line-heading" src="~/Asset/Client/images/icons/wave-line-03.png" alt="IMG">
                        </div>

                        <label class="wrap-input">
                            <input required id="name" name="name" type="text" placeholder="Your full name *">

                            <i class="icon-user"></i>
                        </label>

                        <label class="wrap-input">
                            <input required id="phone" name="phone" type="text" pattern="(09|01[2|6|8|9])+([0-9]{8})\b" placeholder="Your phone number *">

                            <i class="icon-call-out"></i>
                        </label>

                        <label class="wrap-input js-call-select2" data-style="layout-1">
                            <select id="IdServices" name="IdServices">
                                <option value="0">Services *</option>
                                @foreach (var service in servicesList)
                                {
                                    <option value="@service.id">@service.name</option>
                                }

                            </select>

                            <i class="lnr lnr-chevron-down"></i>
                        </label>



                        <label class="wrap-input js-call-datepicker" data-drop="down" data-drop-inside="true">
                            <input id="ArrivalTime" type="text" name="ArrivalTime" autocomplete="off">

                            <i class="lnr lnr-chevron-down"></i>
                        </label>

                        <label class="wrap-input js-call-select2" data-style="layout-1">
                            <select id="time" name="time">
                                <option value="8">8:00 AM</option>
                                <option value="9">9:00 AM</option>
                                <option value="10">10:00 AM</option>
                                <option value="11">11:00 AM</option>
                                <option value="13">1:00 PM</option>
                                <option value="14">2:00 PM</option>
                                <option value="15">3:00 PM</option>
                                <option value="16">4:00 PM</option>
                                <option value="17">5:00 PM</option>
                                <option value="18">6:00 PM</option>
                            </select>

                            <i class="icon-clock"></i>
                        </label>

                        <label class="wrap-input js-call-select2" data-style="layout-1">
                            <select id="IdBed" name="IdBed">
                                <option value="0">Select Spa Room-Bed *</option>
                                @foreach (var room in roomsList)
                                {
                                    foreach (var bed in bedsList)
                                    {
                                        if (bed.IdRoom == room.Id)
                                        {
                                            <option value="@bed.Id">@room.Name : @bed.Name</option>
                                        }

                                    }

                                }
                            </select>

                            <i class="lnr lnr-chevron-down"></i>
                        </label>

                        <button class="hun-button size-normal shape-round style-fill-color">
                            Make appointment
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- end book-service home-1 -->
    <!-- our-services home-1 -->
    <div class="sec--our-service--home-1">
        <div class="container">
            <div class="hun-element-heading layout-1 text-center">
                <h3 class="title-element">
                    Our services
                </h3>

                <div class="line-element">
                    <img src="~/Asset/Client/images/icons/wave-line-02.png" alt="IMG">
                </div>
            </div>

            <div class="hun-element-service layout-1">
                <div class="slide-element js-call-slick">
                    <div class="slide-slick" data-slick='{"dots": false, "arrows": true, "autoplay": false, "infinite": true, "slidesToShow": 3, "slidesToScroll": 1, "responsive": [{"breakpoint": 1199, "settings": {"slidesToShow": 2, "slidesToScroll": 1}}, {"breakpoint": 991, "settings": {"slidesToShow": 2, "slidesToScroll": 1}}, {"breakpoint": 767, "settings": {"slidesToShow": 1, "slidesToScroll": 1}}, {"breakpoint": 575, "settings": {"slidesToShow": 1, "slidesToScroll": 1}}]}'>
                        @foreach (var item in servicesList)
                        {
                            <div class="item-slick">
                                <div class="item-element">
                                    <div class="pic-item">
                                        <a href="service-detail.html" class="wrap-pic">
                                            <img style="width:245px;height:245px" src="@item.image" alt="IMG">
                                        </a>
                                    </div>

                                    <div class="text-item">
                                        <h4 class="title-item">
                                            <a href="service-detail.html">
                                                @item.name
                                            </a>
                                        </h4>

                                        <div class="meta-info-item">
                                            <span class="item-info">
                                                <i class="zmdi zmdi-money-box"></i>
                                                $@item.price
                                            </span>

                                            <span class="item-info">
                                                <i class="zmdi zmdi-alarm-check"></i>
                                                @item.ServingTime Minutes
                                            </span>
                                        </div>

                                        <div class="description-item">
                                            @item.description
                                        </div>
                                    </div>

                                    <div class="foot-item">
                                        <div class="author-item">
                                            <a href="#" class="pic-author">
                                                <img src="~/Asset/Client/images/ava-01.jpg" alt="IMG">
                                            </a>

                                            <span class="text-author">
                                                <a href="#" class="name-author">
                                                    Victoria Webb
                                                </a>

                                                Spa Therapist
                                            </span>
                                        </div>

                                        <a href="booking.html" class="link-item">
                                            Book now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }



                    </div>

                    <div class="arrows-slick">
                        <a class="item-arrow prev-slick"></a>

                        <a class="item-arrow next-slick"></a>
                    </div>
                </div>
            </div>

            <div class="buttons-section">
                <a href="/serviceshome" class="hun-button size-normal style-border-color shape-round">
                    View All
                </a>
            </div>
        </div>
    </div>
    <!-- end our-services home-1 -->
    <!-- gallery home-2 -->
    <div class="sec--gallery--home-2">
        <div class="hun-element-gallery layout-1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="item-gallery size-2x" style="background-image: url('/Asset/Client/images/gallery-thumb-01.jpg');">
                        <a href="gallery-single.html" class="overlay-item">
                            <h4 class="title-item">
                                Nam libero tempore
                            </h4>

                            <span class="description-item">
                                Spa / Massage
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-lg-3">
                    <div class="item-gallery" style="background-image: url('/Asset/Client/images/gallery-thumb-02.jpg');">
                        <a href="gallery-single.html" class="overlay-item">
                            <h4 class="title-item">
                                Nam libero tempore
                            </h4>

                            <span class="description-item">
                                Spa / Massage
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-lg-3">
                    <div class="item-gallery" style="background-image: url('/Asset/Client/images/gallery-thumb-03.jpg');">
                        <a href="gallery-single.html" class="overlay-item">
                            <h4 class="title-item">
                                Nam libero tempore
                            </h4>

                            <span class="description-item">
                                Spa / Massage
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-lg-3">
                    <div class="item-gallery" style="background-image: url('/Asset/Client/images/gallery-thumb-04.jpg');">
                        <a href="gallery-single.html" class="overlay-item">
                            <h4 class="title-item">
                                Nam libero tempore
                            </h4>

                            <span class="description-item">
                                Spa / Massage
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-lg-3">
                    <div class="item-gallery" style="background-image: url('/Asset/Client/images/gallery-thumb-05.jpg');">
                        <a href="gallery-single.html" class="overlay-item">
                            <h4 class="title-item">
                                Nam libero tempore
                            </h4>

                            <span class="description-item">
                                Spa / Massage
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="item-gallery size-2x" style="background-image: url('/Asset/Client/images/gallery-thumb-06.jpg');">
                        <a href="gallery-single.html" class="overlay-item">
                            <h4 class="title-item">
                                Nam libero tempore
                            </h4>

                            <span class="description-item">
                                Spa / Massage
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end gallery home-2 -->
    <!-- our-team home-2 -->
    <div class="sec--our-team--home-2">
        <div class="container">
            <div class="hun-element-heading layout-1 text-center">
                <h3 class="title-element">
                    Our team
                </h3>

                <div class="line-element">
                    <img src="~/Asset/Client/images/icons/wave-line-02.png" alt="IMG">
                </div>
            </div>

            <div class="hun-element-team layout-1">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-4">
                        <div class="item-team">
                            <a href="#"><img class="pic-item" src="~/Asset/Client/images/team-01.jpg" alt="IMG"></a>

                            <div class="content-item">
                                <h4 class="name-item">
                                    <a href="#">
                                        Lori Alvarez
                                    </a>
                                </h4>

                                <div class="info-item">
                                    / Massage
                                </div>

                                <div class="social-link">
                                    <a href="#" class="item-social">
                                        <i class="icon-social-facebook"></i>
                                    </a>

                                    <a href="#" class="item-social">
                                        <i class="icon-social-twitter"></i>
                                    </a>

                                    <a href="#" class="item-social">
                                        <i class="icon-social-dribbble"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-lg-4">
                        <div class="item-team">
                            <a href="#"><img class="pic-item" src="~/Asset/Client/images/team-02.jpg" alt="IMG"></a>

                            <div class="content-item">
                                <h4 class="name-item">
                                    <a href="#">
                                        Lisa Young
                                    </a>
                                </h4>

                                <div class="info-item">
                                    / Massage
                                </div>

                                <div class="social-link">
                                    <a href="#" class="item-social">
                                        <i class="icon-social-facebook"></i>
                                    </a>

                                    <a href="#" class="item-social">
                                        <i class="icon-social-twitter"></i>
                                    </a>

                                    <a href="#" class="item-social">
                                        <i class="icon-social-dribbble"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-lg-4">
                        <div class="item-team">
                            <a href="#"><img class="pic-item" src="~/Asset/Client/images/team-03.jpg" alt="IMG"></a>

                            <div class="content-item">
                                <h4 class="name-item">
                                    <a href="#">
                                        Julia Berry
                                    </a>
                                </h4>

                                <div class="info-item">
                                    / Massage
                                </div>

                                <div class="social-link">
                                    <a href="#" class="item-social">
                                        <i class="icon-social-facebook"></i>
                                    </a>

                                    <a href="#" class="item-social">
                                        <i class="icon-social-twitter"></i>
                                    </a>

                                    <a href="#" class="item-social">
                                        <i class="icon-social-dribbble"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end our-team home-2 -->
    <!-- Footer -->
    @{Html.RenderAction("Footer", "Home");}
    <!-- end Footer -->
    <!--===============================================================================================-->
    <script src="~/Asset/Client/libs/jquery/jquery-1.11.0.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/Client/libs/bootstrap/popper.js"></script>
    <script src="~/Asset/Client/libs/bootstrap/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/Client/libs/slick/slick.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/Client/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/Client/libs/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/Client/libs/animsition/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/Client/libs/daterangepicker/moment.min.js"></script>
    <script src="~/Asset/Client/libs/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/Client/libs/parallax100/parallax100.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/Client/js/main.js"></script>


</body>
</html>